<h1>Recipe List : <%= unless @recipeable.blank? then @recipeable_name end %></h1>
<table>
  <tr>
    <th><% t('admin.recipe.name')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% unless @recipes.blank? %>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= link_to t('generic.show'), polymorphic_path([:admin, @recipeable, recipe])  %></td>
      <td><%= link_to t('generic.edit_method'), edit_polymorphic_path([:admin, @recipeable, recipe]) %></td>
      <td><%= link_to t('generic.delete_method'), polymorphic_path([:admin, @recipeable, recipe]), :method => :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br/>

<%= link_to t('generic.new_method'), new_polymorphic_path([:admin, @recipeable, Recipe.new]) %>
