<h1>Show Recipe</h1>
<p>
  <%= image_tag @recipe.image_url(:big).to_s%>
  <br/><br/>
  <b>Recipe Name</b>
  <%= @recipe.name %>
</p>
<br/>
<p>
  <b>Information</b>
  <%= @recipe.information %>
</p>
<br/>
<p>  
  <label id="preparation_time">Preparation Time</label>
  <%= @start_preparation_time %>
  <%= @start_preparation_time_unit %>
  <label>&nbsp &nbsp to &nbsp &nbsp</label>
  <%= @end_preparation_time %>
  <%= @end_preparation_time_unit%>
</p>
<br/>
<p>
  <label id="cooking_time">Cooking Time</label>
  <%= @start_cooking_time %>
  <%= @start_cooking_time_unit %>
  <label>&nbsp &nbsp to &nbsp &nbsp</label>
  <%= @end_cooking_time %>
  <%= @end_cooking_time_unit %>
</p>

<p>
  <label id="serves">Serves &nbsp</label>
  <%= @recipe.serves %>
</p>

<p>
  <label id="preparation_method">Preparation Method</label>
  <div>
    <%= insert_break(@recipe.preparation_method) %>
  </div>
</p>

<%= link_to 'Edit', edit_polymorphic_path([:admin, @recipeable, @recipe]) %> |
<%= link_to 'Back', polymorphic_path([:admin, @recipeable, Recipe.new]) %>
