<%= form_for @recipe do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explaination">
      <h1><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h1>
      <ul>
        <%= @recipe.errors.full_messages do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

  <div class="fields">
    <%= form.label :name %><br/>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <input id="error_messages" type="hidden">*This field is required</input>
  </div>
  
  <div class="fields">
    <%= form.label :information %><br/>
    <%= form.text_area :information, size: "50x3" %>
  </div>

  <label>Preparation Time</label>
  <p id="preparation_time">
    <%= select_tag "start_preparation_time", start_preparation_time %>
    <%= select_tag "start_preparation_time_unit", start_preparation_time_unit %>
    <label>&nbsp &nbsp to &nbsp &nbsp</label>
    <%= select_tag "end_preparation_time", end_preparation_time %>
    <%= select_tag "end_preparation_time_unit", end_preparation_time_unit %>
  </p>

  <label>Cooking Time</label>
  <p id="cooking_time">
    <%= select_tag "start_cooking_time", start_cooking_time %>
    <%= select_tag "start_cooking_time_unit", start_cooking_time_unit %>
    <label>&nbsp &nbsp to &nbsp &nbsp</label>
    <%= select_tag "end_cooking_time", end_cooking_time %>
    <%= select_tag "end_cooking_time_unit", end_cooking_time_unit %>
  </p>
  
  <div class="fields">
    <%= form.label :serves %><br/>
    <%= select_tag "serves", serves %>  
  </div>

  <div class="fields">
    <%= form.label :preparation_method %><br/>
    <%= form.text_area :preparation_method, size: "50x15" %>
  </div>
  
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
