<p>
  <b>Recipe Name</b>
  <%= @recipe.name %>
</p>
<br/>
<p>
  <b>Information</b>
  <%= @recipe.information %>
</p>
<p>
  <b>Preparation Time</b>
</p>
<br/>
<p>  
  <label id="start_preparation_time">Preparation Time</label>
  <%= select_tag "start_preparation_time", start_preparation_time %>
  <label>&nbsp &nbsp to &nbsp &nbsp</label>
  <%= select_tag "end_preparation_minutes", end_preparation_time %>
</p>
<br/>
<p>
  <b>Cooking Time</b>
</p>


<p>
  <label id="serves">Serves</label>
  <%= @recipe.serves %>
</p>

<p>
  <label id="preparation_method">Preparation Method</label>
  <div>
    <%= insert_break(@recipe.preparation_method) %>
  </div>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
