<!DOCTYPE html>
<html>
<head>
  <title>IndianFood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<div id="home_link">
  <%= link_to 'Home', recipes_path %>
</div>
<div></div>
<div id="signout_link">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>.Not you?
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <% end %>
</div>
</div>
<p class="notice"><%= notice %></p>
<p id="body">
<%= yield %>
</p>
</body>
</html>
